/*Header*/


.header {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    height: 400px;
    padding-bottom: 40px;
    overflow: hidden;
}

.headbar{
    align-self: center;
    display: flex;
    justify-content: space-around;
    height: 100;
    width: 1200px;
    padding-bottom: 30px;
    flex: 1;
    
}

.TRlinks {
    display: flex;
    gap: 8px;
    list-style: none;
    font-size: 18px;
    color: #f9faf8;
    align-items: center;
    flex: 1;
    justify-content: flex-end;
    
    
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    display: flex;
    justify-content: center;
    margin-left: 0px;
    flex: 1; 
    justify-content: flex-start;
    
}


.headcont {
    display: flex;
    height: 300px;
    
}


.headcontL{
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
}

.headcontR {
    display: flex;
    flex: 1;  
    
}


.contRbox{
    display: flex;
    height: 250px;
    width: 600px;
    
    align-self: flex-start;
}


.contLbox {
    display: flex;
    height: 300px;
    width: 600px;
    flex-direction: column;
    color: #f9faf8;
    justify-content: flex-start;
    padding-left: 50px;
    
}

#herotitle {
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 5px;
    margin-top: 0;
    padding-top: 0;
}

#headtxt {
    font-size: 18px;
    margin-top: 0px;
}

button{
    background-color: #3882f6;
    width: 100px;
    color: #f9faf8;
    border-radius: 5px;
    padding: 4px;
    border: 0;
}


.contRbox{
    display: flex;
    margin-bottom: 0px;
}

#headimage{
    width: 100%;
    margin-bottom: 0px;
    height: 218px;
}

