

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

/*Header*/
.header {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    height: 400px;
    padding-bottom: 40px;
    overflow: hidden;
}

.headbar{
    align-self: center;
    display: flex;
    justify-content: space-around;
    height: 100;
    width: 1200px;
    padding-bottom: 30px;
    flex: 1;
    
}

.TRlinks {
    display: flex;
    gap: 8px;
    list-style: none;
    font-size: 18px;
    color: #f9faf8;
    align-items: center;
    flex: 1;
    justify-content: flex-end;
    
    
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    display: flex;
    justify-content: center;
    margin-left: 0px;
    flex: 1; 
    justify-content: flex-start;
    
}


.headcont {
    display: flex;
    height: 300px;
    
}


.headcontL{
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
}

.headcontR {
    display: flex;
    flex: 1;  
    
}


.contRbox{
    display: flex;
    height: 250px;
    width: 600px;
    
    align-self: flex-start;
}


.contLbox {
    display: flex;
    height: 300px;
    width: 600px;
    flex-direction: column;
    color: #f9faf8;
    justify-content: flex-start;
    padding-left: 50px;
    
}

#herotitle {
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 5px;
    margin-top: 0;
    padding-top: 0;
}

#headtxt {
    font-size: 18px;
    margin-top: 0px;
}

#topbutton{
    background-color: #3882f6;
    width: 100px;
    color: #f9faf8;
    border-radius: 5px;
    padding: 4px;
    border: 0;
}


.contRbox{
    display: flex;
    margin-bottom: 0px;
}

#headimage{
    width: 100%;
    margin-bottom: 0px;
    height: 218px;
}





/*Cont1*/

.content1 {
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    
}
.title1 {
    align-self: center;
    height: 100px;
}


.cardcont {
    display: flex;
    flex: 1;
    justify-content: center;
    gap: 40px;
    text-align: center;

}


.cards {
    height: 200px;
    width: 200px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}


.minicard {
    height: 130px;
    width: 130px;
    border: 4px solid #3882f6;
    border-radius: 10px;
    background-color: #1f2937;
    display: flex;
    flex-shrink: 0;
}

/*content 2*/
.content2 {
    height: 400px;
    width: 100%;
    display: flex;
    background-color: #e5e7eb;
    justify-content: center;
    align-items: center;
    
}

.quote {
    height: 280px;
    width: 1000px;
    display: flex;
    flex-direction: column;
    font-style: italic;
    font-weight: lighter;
}

#quote1 {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    margin-bottom: 0;

}

h3 {
    margin: 0;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    font-size: 26px;

}



/*content 3*/

.content3 {
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    

}

.cont3box {
    background-color: #3882f6;
    height: 200px;
    width: 1000px;
    border-radius: 10px;
    display: flex;

}

.cont3left {
    display: flex;
    flex: 3;
    flex-direction: column;
    justify-content: center;
    color: #e5e7eb;
    padding-left: 15px;
    align-items: flex-start;

}

.cont3right {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 35px;

}

h5 {
    margin-bottom: 0px;
    font-size: 36px;
}

#ctap {
    margin-top: 0px;

}

#bottombutton {
    height: 50px;
    width: 150px;
    border-radius: 10px;
    font-size: 25px;
    background-color: #3882f6;
    color: #e5e7eb;
    border-color: #e5e7eb;
    padding-bottom: 0px;


}